$darker: #262423;
$lighter: #FAF1E7;
$focus: #E63946;
$secondary: #D89A43;
$premium: #2A3A59;
$darkerAcent: #525050;
$darkerHover: #474747;
$border-color: #525050;
$black: #111;
$light-black: #333;
$megamenu-background: #eee;
$grey: #707070;
$grey-light: #bfbfbf;
$white-shade: #e6e6e6;

$railway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$normal: 300;
$regular: 400;
$medium: 500;
$bold: 700;