$darker: #262423;
$lighter: #FAF1E7;
$focus: #F23E2E;
$secondary: #D89A43;
$premium: #2A3A59;
$grey: #707070;
$grey-light: #bfbfbf;
$white-shade: #e6e6e6;

$font-family: 'Raleway', sans-serif;

$normal: 300;
$regular: 400;
$medium: 500;
$bold: 700;